<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('auth.index')}}">NextEP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('auth.index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Series</a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="navbar-nav justify-content-end">
        {%if current_user.is_authenticated%}
        <li class="nav-item dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="{{url_for('auth.change_username')}}">Change Username</a></li>
              <li><a class="nav-link" href="{{url_for('auth.change_password')}}">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="nav-link active" aria-current="page" href="{{url_for('auth.logout')}}">Logout</a></li>
            </ul>
          </li>
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
            
          </li>
        {%else%}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('auth.signup')}}">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
        </li>
        {%endif%}
    </ul>
</nav>