{% extends 'components/base.html' %}
{% import "bootstrap/form.html" as wtf %}

{% block title %}
<title>NextEP - Cadastrar Temporadas</title>
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
  <a href="{{url_for('series.edit_serie', id=serie.id)}}" class="btn btn-sm" role="button">Retornar</a>
    <form class="container" method="POST" action="{{url_for('series.add_seasons',id=serie.id)}}">
      <h2 class="form-signin-heading">{{serie.name}}: Adicionar Temporadas</h2>
      {{ form.hidden_tag() }}
      {{ wtf.render_field(form.seasons_number) }}
      <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
      </div>
      <br>
      </div>
    </form>
</div> <!-- /container -->

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js.js')}}"></script>
{% endblock %}