{% extends 'components/base.html' %}
{% import "bootstrap/form.html" as wtf %}

{% block title %}
<title>NextEP - Cadastrar Serie</title>
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
    <form class="-formsignin" method="POST" action="/series/new">
      <h2 class="form-signin-heading">Cadastrar Série</h2>
      {{ form.hidden_tag() }}
      {{ wtf.render_field(form.serie_name) }}
      {{ wtf.render_field(form.password) }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
    </form>
</div> <!-- /container -->
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}