name: remote ssh command
on: [push]
jobs:
  deploy:
    name: Deploy PRD
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: "54.83.74.46"
        username: ubuntu
        key: ${{ secrets.KEY }}
        port: 22
        script: whoami
